body {
    width: 100vw;
    height: 100vh;
    margin: 0
}

#meu-canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -300px;
}

#botao-start {
    display: none;
    width:70px;
    height: 70px;
    border-radius: 70px;
    border: none;
    box-shadow: 1px 1px 1px black;
    background: #d64a31;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    transition: all 0.3s ease 0s;
    cursor: pointer;

    font: bold 18px arial, sans-serif;
    color: yellow;
    letter-spacing: 2.5px;
}

#botao-start:hover {
    background-color: black;
    box-shadow: 0px 15px 20px black;
    color: #d64a31;
}
